src/main/resources/amountBlockApi.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.neptunesoftware.com/nipintegrator/inward/client_api/amountBlockApi"
>
    <xs:element name="AmountBlockApiRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AmountBlockApiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>