src/main/resources/responseModel.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.neptunesoftware.com/nipintegrator/outward/api/responsemodel"
>
    <xs:element name="ResponseModel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseCode" type="xs:string"/>
                <xs:element name="responseMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>